.input-group {
  padding: 10px 0;
  border: none;
}
.input {
  border-radius: 15px;
  height: 50px;
}
.continue-btn {
  border: none;
  border-radius: 15px;
  background-color: salmon;
  color: #fff;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
