.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

hr {
  color: var(--light-mode-font);
  margin: 25px 0;
}
.row {
  width: 100%;
  display: inline-flex;
  margin: auto;
  border-radius: 15px;
}

.col-sm-8 {
  height: 700px;
  padding: 0;
}
.col-sm-4 {
  background-image: var(--light-form-background);
  height: 700px;
  padding: 30px 50px;
  border-radius: 0 15px 15px 0;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  font-size: 12px;
  color: var(--logo);
  margin-bottom: 0;
  padding-top: 2px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--light-mode-font);
}
p {
  color: var(--light-mode-font);
}
a {
  text-decoration: none;
  color: var(--logo);
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: var(--light-mode-font);
}
.option {
  text-align: center;
  font-size: 15px;
  color: var(--light-mode-font);
  padding: 10px;
}

@media (max-width: 1447px) {
  .option {
    padding: 0;
  }
  .col-sm-4 {
    padding: 30px 20px;
  }
}
@media (max-width: 1221px) {
  .col-sm-4 {
    padding: 30px 15px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  .col-sm-8 {
    display: none;
  }
  .col-sm-4 {
    width: 100%;
    border-radius: 15px;
    height: 80%;
  }
  hr {
    margin: 30px 0;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
}
