.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}
.btn:hover {
  transform: scale(1, 1);
  background-color: #d4766d;
  border: none;
}

.google {
  border-radius: 8px;
  height: 50px;
  background-color: var(--light-buttons);
  border: none;
  width: 180px;
}
.google-icon {
  font-size: 25px;
  padding: 0 2px;
}
span {
  font-size: 12px;
  padding-left: 3px;
  color: var(--light-mode-font);
}
.facebook {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: var(--light-buttons);
  border: none;
}
.facebook-icon {
  font-size: 25px;
  color: #3b5998;
}
.apple {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  border: none;
  background-color: var(--light-buttons);
}
.apple-icon {
  font-size: 25px;
  color: black;
}
/* Media query  */
@media (max-width: 1448px) {
  .button-container {
    justify-content: space-between;
    margin-top: 40px;
  }
  span {
    display: none;
  }
  .google {
    width: 50px;
  }
}
@media (max-width: 800px) {
  .button-container {
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .google {
    width: 70px;
  }
  .facebook {
    width: 70px;
  }
  .apple {
    width: 70px;
  }
  .icon {
    font-size: 30px;
  }
}
